body{
    background-color: #eff3f4;
}
.container{
background-color: white;
border-radius:20px ;
}
a{
    text-decoration: none;
    color: dodgerblue;
}
.twite{
    background-color: white;
}
.twite img{
    width: 27px;
}
.twite button{
    color: dodgerblue;
    border: 0px;
    background-color: inherit;
}
.twite span{
    color: gray;
}
.comment:hover{
    transform: scale(1);
}
.send{
    color: dodgerblue;
    transition: 0.3s;
    margin-top: 10px;
}
.send:hover{
    color: rgb(20, 103, 187);;
}
.message{
    border: 0px;
    border-bottom: 1px solid;
    background-color: transparent;
}
.message:focus{
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid;
}
.space{
    background-color: #eff3f4;
    padding: 24px 31px;
    border-radius: 37px;
    transition: 0.3s;
}
.space:hover{
    transform: scale(1.05);
}
.comment{
    max-width: 80%;
}